{% load widget_tweaks %}

<form method="post" action="{% url 'CreateMedicamentos' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_nombre">Nombre del medicamento</label>
        {{ formulario.nombre|add_class:"form-control" }}
    </div>

    <div class="form-group">
        <label for="id_descripcion">Descripción</label>
        {{ formulario.descripcion|add_class:"form-control" }}
    </div>

    <div class="form-group">
        <label for="id_precio">Precio</label>
        {{ formulario.precio|add_class:"form-control" }}
    </div>

    <div class="form-group">
        <label for="id_fecha_vencimiento">Fecha de Vencimiento</label>
        {{ formulario.fecha_vencimiento|add_class:"form-control" }}
    </div>

    <div class="form-group">
        <label for="id_stock">Stock</label>
        {{ formulario.stock|add_class:"form-control" }}
    </div>

    <div class="form-group">
        <label for="id_categoria">Categoría</label>
        {{ formulario.categoria|add_class:"form-control" }}
    </div>
    
    <div class="form-group">
        <label for="id_tipo">Tipo</label>
        {{ formulario.tipo|add_class:"form-control" }}
    </div>    

    <div class="form-group">
        <label for="id_laboratorio">Laboratorio</label>
        {{ formulario.laboratorio|add_class:"form-control" }}
    </div>

    <button type="submit" class="btn btn-primary">Guardar Medicamento</button>
</form>
