<!--Con esta parte de codigo vamos a llamar a base html-->
{% extends "base.html" %}

<!--Esto es para que se cargen todas las librerias estaticas de la carpeta static como librerias de bootstrap y otros-->
{% load static %}

<!--En aqui vamos a crear un bloque para meter el resto del codigo-->
{% block content %}
<div>
    <h1>h1: Apartado para el dashboard</h1>
    <h2>h2: Apartado para el dashboard</h2>
    <h3>h3: Apartado para el dashboard</h3>
    <h4>h4: Apartado para el dashboard</h4>
    <h5>h5: Apartado para el dashboard</h5>
    <h6>h6: Apartado para el dashboard</h6>

    <!--<h2>El numero de ventas actuales es de : {{num_ventas}}</h2>-->

</div>
{% endblock %}