<!--Con esta parte de codigo vamos a llamar a base html-->
{% extends "base.html" %}

<!--Esto es para que se cargen todas las librerias estaticas de la carpeta static como librerias de bootstrap y otros-->
{% load static %}

<!--En aqui vamos a crear un bloque para meter el resto del codigo-->
{% block content %}
<div class="container mt-4">
    <h1>Proveedores y Compras</h1>

    <h2>Proveedores más frecuentes</h2>
    <div>
        {{ grafico_proveedores_html|safe }}
    </div>

    <h2>Medicamentos más comprados (por cantidad)</h2>
    <div>
        {{ grafico_medicamentos_cantidad_html|safe }}
    </div>

    <h2>Medicamentos más comprados (por costo)</h2>
    <div>
        {{ grafico_medicamentos_costo_html|safe }}
    </div>
</div>
{% endblock %}
