{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <br>

    <!-- Tabla de Medicamentos Activos -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Panel de Medicamentos Activos</h4>
            <p class="card-text">Listado de medicamentos registrados</p>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Fecha de Vencimiento</th>
                        <th>Stock</th>
                        <th>Laboratorio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for medicamento in medicamentos_activos %}
                    <tr>
                        <td>{{ medicamento.id }}</td>
                        <td>{{ medicamento.nombre }}</td>
                        <td>{{ medicamento.descripcion }}</td>
                        <td>{{ medicamento.precio }} bs</td>
                        <td>{{ medicamento.fecha_vencimiento }}</td>
                        <td>{{ medicamento.stock }}</td>
                        <td>{{ medicamento.laboratorio_id }}</td>
                        <td>
                            <a class="btn btn-info" href="{% url 'UpdateMedicamentos' medicamento.id %}" role="button">Editar</a>
                            <a class="btn btn-danger" href="{% url 'DeleteMedicamentos' medicamento.id %}" role="button">Desactivar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted">
            <footer>
                <a class="btn btn-success" href="{% url 'CreateMedicamentos' %}" role="button">Agregar Nuevo Medicamento</a>
            </footer>
        </div>
    </div>

    <br><br>

    <!-- Tabla de Medicamentos Inactivos -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Medicamentos Inactivos</h4>
            <p class="card-text">Lista de medicamentos inactivos</p>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Fecha de Vencimiento</th>
                        <th>Stock</th>
                        <th>Laboratorio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for medicamento in medicamentos_inactivos %}
                    <tr>
                        <td>{{ medicamento.id }}</td>
                        <td>{{ medicamento.nombre }}</td>
                        <td>{{ medicamento.descripcion }}</td>
                        <td>{{ medicamento.precio }} bs</td>
                        <td>{{ medicamento.fecha_vencimiento }}</td>
                        <td>{{ medicamento.stock }}</td>
                        <td>{{ medicamento.laboratorio_id }}</td>
                        <td>
                            <a class="btn btn-success" href="{% url 'ActivateMedicamentos' medicamento.id %}" role="button">Activar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
