<!--Con esta parte de codigo vamos a llamar a base html-->
{% extends "base.html" %}

<!--Esto es para que se cargen todas las librerias estaticas de la carpeta static como librerias de bootstrap y otros-->
{% load static %}

<!--En aqui vamos a crear un bloque para meter el resto del codigo-->
{% block content %}
<div>

    <br>

    <!-- Tabla de laboratorios activos -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Panel de Laboratorios Activos</h4>
            <p class="card-text">Listado de laboratorios activos</p>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre del laboratorio</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                        <th>Abreviatura</th>
                        <th>NIT</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for laboratorio in laboratorios_activos %}
                    <tr>
                        <td>{{ laboratorio.id }}</td>
                        <td>{{ laboratorio.nombre_laboratorio }}</td>
                        <td>{{ laboratorio.telefono_lab }}</td>
                        <td>{{ laboratorio.direccion }}</td>
                        <td>{{ laboratorio.abreviatura_lab }}</td>
                        <td>{{ laboratorio.nit_lab }}</td>
                        <td>
                            <a class="btn btn-info" href="{% url 'UpdateLaboratorio' laboratorio.id %}" role="button">Editar</a>
                            |
                            <a class="btn btn-danger" href="{% url 'DeleteLaboratorio' laboratorio.id %}" role="button">Desactivar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted">
            <Footer>
                <a class="btn btn-success" href="{% url 'CreateLaboratorio' %}" role="button">Agregar nuevo laboratorio</a>
            </Footer>
        </div>
    </div>

    <br><br>

    <!-- Tabla de laboratorios inactivos -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Laboratorios Inactivos</h4>
            <p class="card-text">Lista de laboratorios inactivos</p>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre del laboratorio</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                        <th>Abreviatura</th>
                        <th>NIT</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for laboratorio in laboratorios_inactivos %}
                    <tr>
                        <td>{{ laboratorio.id }}</td>
                        <td>{{ laboratorio.nombre_laboratorio }}</td>
                        <td>{{ laboratorio.telefono_lab }}</td>
                        <td>{{ laboratorio.direccion }}</td>
                        <td>{{ laboratorio.abreviatura_lab }}</td>
                        <td>{{ laboratorio.nit_lab }}</td>
                        <td>
                            <a class="btn btn-info" href="{% url 'ActivateLaboratorio' laboratorio.id %}" role="button">Activar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
