<!--Con esta parte de codigo vamos a llamar a base html-->
{% extends "base.html" %}

<!--Esto es para que se cargen todas las librerias estaticas de la carpeta static como librerias de bootstrap y otros-->
{% load static %}

<!--En aqui vamos a crear un bloque para meter el resto del codigo-->
{% block content %}
<div>

    <br>

    <div class = "card">
        
        <div class = "card-body">
            <h4 class="card-title">Panel de Laboratorios</h4>
            <p class="card-text">Configuración de Cuentas de Laboratio</p>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre del laboratorio</th>
                        <th>Telefono</th>
                        <th>Direccion</th>
                        <th>Abreviatura</th>
                        <th>Nit</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for laboratorios in laboratorios %}
                    <tr>
                        <td>{{laboratorios.id}}</td>
                        <td>{{laboratorios.nombre_laboratorio}}</td>
                        <td>{{laboratorios.telefono_lab}}</td>
                        <td>{{laboratorios.direccion}}</td>
                        <td>{{laboratorios.abreviatura_lab}}</td>
                        <td>{{laboratorios.nit_lab}}</td>
                        <!--///////////////////////////////////////////estos botones todavia estan con la conexion de usuarios-->
                        <td> <a name="" id="" class="btn btn-info" href="{% url 'UpdateLaboratorios' laboratorios.id %}" role="button">Editar</a>
                            |
                            <a name="" id="" class="btn btn-danger" href="{% url 'DeleteLaboratorios' laboratorios.id %}" role="button">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>
        <div class="card-footer text-muted">
            <Footer>
                <a name="" id="" class="btn btn-success" href="{% url 'CreateLaboratorios' %}" role="button">Agregar nuevo laboratorio</a>
            </Footer>
        </div>
    </div>

</div>
{% endblock %}