{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <br>

    <!-- Tabla de proveedores activos -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Panel de Proveedores Activos</h4>
            <p class="card-text">Configuración de Proveedores Activos</p>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre Empresa</th>
                        <th>Contacto</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proveedor in proveedores_activos %}
                    <tr>
                        <td>{{ proveedor.id }}</td>
                        <td>{{ proveedor.nombre_empresa }}</td>
                        <td>{{ proveedor.contacto }}</td>
                        <td>{{ proveedor.correo_contacto }}</td>
                        <td>{{ proveedor.telefono_contacto }}</td>
                        <td>
                            <a class="btn btn-info" href="{% url 'UpdateProveedores' proveedor.id %}">Editar</a> |
                            <a class="btn btn-danger" href="{% url 'DeleteProveedores' proveedor.id %}">Desactivar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-success" href="{% url 'CreateProveedores' %}">Agregar nuevo proveedor</a>
        </div>
    </div>

    <br><br>

    <!-- Tabla de proveedores inactivos -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Proveedores Inactivos</h4>
            <p class="card-text">Lista de proveedores inactivos</p>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre Empresa</th>
                        <th>Contacto</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proveedor in proveedores_inactivos %}
                    <tr>
                        <td>{{ proveedor.id }}</td>
                        <td>{{ proveedor.nombre_empresa }}</td>
                        <td>{{ proveedor.contacto }}</td>
                        <td>{{ proveedor.correo_contacto }}</td>
                        <td>{{ proveedor.telefono_contacto }}</td>
                        <td>
                            <a class="btn btn-info" href="{% url 'ActivateProveedores' proveedor.id %}">Activar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
