{% extends "base.html" %}

{% block content %}
<div>
    <br>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Panel de Proveedores</h4>
            <p class="card-text">Configuración de Proveedores disponibles</p>

            <!-- Formulario para seleccionar el número de elementos por página -->
            <form method="get" class="form-inline mb-3">
                <label for="items_per_page" class="mr-2">Mostrar:</label>
                <select name="items_per_page" id="items_per_page" class="form-control" onchange="this.form.submit()">
                    <option value="3" {% if items_per_page == '3' %}selected{% endif %}>3</option>
                    <option value="5" {% if items_per_page == '5' %}selected{% endif %}>5</option>
                    <option value="10" {% if items_per_page == '10' %}selected{% endif %}>10</option>
                </select>
                <span class="ml-2">por página</span>
            </form>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre Empresa</th>
                        <th>Nombre contacto</th>
                        <th>Descripción</th>
                        <th>Dirección</th>
                        <th>Telefono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proveedor in proveedores_activos %}
                    <tr>
                        <td>{{ proveedor.id }}</td>
                        <td>{{ proveedor.nombre_empresa }}</td>
                        <td>{{ proveedor.contacto }}</td>
                        <td>{{ proveedor.descripcion }}</td>
                        <td>{{ proveedor.direccion }}</td>
                        <td>{{ proveedor.telefono_contacto }}</td>
                        <td>
                            <div class="d-flex">
                                <a class="btn btn-info" href="{% url 'UpdateProveedores' proveedor.id %}">
                                    <i class="fas fa-pencil-alt"></i>
                                </a> 
                                <a class="btn btn-danger" href="{% url 'DeleteProveedores' proveedor.id %}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Paginación para proveedores activos -->
            <div class="pagination">
                <span class="step-links">
                    {% if proveedores_activos.has_previous %}
                        <a href="?page=1&items_per_page={{ items_per_page }}">&laquo; Primero</a>
                        <a href="?page={{ proveedores_activos.previous_page_number }}&items_per_page={{ items_per_page }}">Anterior</a>
                    {% endif %}

                    <span class="current">
                        Página {{ proveedores_activos.number }} de {{ proveedores_activos.paginator.num_pages }}.
                    </span>

                    {% if proveedores_activos.has_next %}
                        <a href="?page={{ proveedores_activos.next_page_number }}&items_per_page={{ items_per_page }}">Siguiente</a>
                        <a href="?page={{ proveedores_activos.paginator.num_pages }}&items_per_page={{ items_per_page }}">Último &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-success" href="{% url 'CreateProveedores' %}">Agregar nuevo proveedor</a>
        </div>
    </div>

    <br><br>

    <!-- Tabla de proveedores inactivos -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Proveedores Inactivos</h4>
            <p class="card-text">Lista de proveedores inactivos</p>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre Empresa</th>
                        <th>Nombre contacto</th>
                        <th>Descripción</th>
                        <th>Dirección</th>
                        <th>Telefono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proveedor in proveedores_inactivos %}
                    <tr>
                        <td>{{ proveedor.id }}</td>
                        <td>{{ proveedor.nombre_empresa }}</td>
                        <td>{{ proveedor.contacto }}</td>
                        <td>{{ proveedor.descripcion }}</td>
                        <td>{{ proveedor.direccion }}</td>
                        <td>{{ proveedor.telefono_contacto }}</td>
                        <td>
                            <a class="btn btn-info" href="{% url 'ActivateProveedores' proveedor.id %}">
                                Activar</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">No hay proveedores inactivos.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Paginación para proveedores inactivos -->
            <div class="pagination">
                <span class="step-links">
                    {% if proveedores_inactivos.has_previous %}
                        <a href="?page=1&items_per_page={{ items_per_page }}">&laquo; Primero</a>
                        <a href="?page={{ proveedores_inactivos.previous_page_number }}&items_per_page={{ items_per_page }}">Anterior</a>
                    {% endif %}

                    <span class="current">
                        Página {{ proveedores_inactivos.number }} de {{ proveedores_inactivos.paginator.num_pages }}.
                    </span>

                    {% if proveedores_inactivos.has_next %}
                        <a href="?page={{ proveedores_inactivos.next_page_number }}&items_per_page={{ items_per_page }}">Siguiente</a>
                        <a href="?page={{ proveedores_inactivos.paginator.num_pages }}&items_per_page={{ items_per_page }}">Último &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
