{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Panel de ventas</h4>
            <p class="card-text">Listado de ventas</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID Venta</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}
                    <tr>
                        <td>{{ venta.id }}</td>
                        <td>{{ venta.usuario.username }}</td>
                        <td>{{ venta.fecha_venta }}</td> <!-- Campo fecha_venta -->
                        <td>{{ venta.precio_total }} bs</td> <!-- Campo precio_total -->
                        <td>
                            <a class="btn btn-info" href="{% url 'detalle_venta' venta.id %}" role="button">Ver Detalle</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-success" href="{% url 'CreateVenta' %}" role="button">Registrar nueva venta</a>
        </div>
    </div>
</div>
{% endblock %}
