{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <br>
    <!-- Formulario de búsqueda -->
    <form method="GET" class="mb-3">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Buscar por usuario" value="{{ query|default:'' }}">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </form>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Panel de Ventas</h4>
            <p class="card-text">Listado de Ventas</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID Venta</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}
                    <tr>
                        <td>{{ venta.id }}</td>
                        <td>{{ venta.usuario.username }}</td>
                        <td>{{ venta.fecha_venta }}</td>
                        <td>{{ venta.precio_total }} bs</td>
                        <td>
                            <a class="btn btn-info" href="{% url 'detalle_venta' venta.id %}" role="button">Ver Detalle</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No se encontraron ventas.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-success" href="{% url 'CreateVenta' %}" role="button">Registrar Nueva Venta</a>
        </div>
    </div>

    <!-- Navegación de páginas -->
    <nav class="mt-3">
        <ul class="pagination justify-content-center">
            {% if ventas.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?q={{ query }}&page={{ ventas.previous_page_number }}">Anterior</a>
            </li>
            {% endif %}

            {% for num in ventas.paginator.page_range %}
                {% if num > ventas.number|add:-6 and num < ventas.number|add:6 %}
                <li class="page-item {% if ventas.number == num %}active{% endif %}">
                    <a class="page-link" href="?q={{ query }}&page={{ num }}">{{ num }}</a>
                </li>
                {% endif %}
            {% endfor %}

            {% if ventas.has_next %}
            <li class="page-item">
                <a class="page-link" href="?q={{ query }}&page={{ ventas.next_page_number }}">Siguiente</a>
            </li>
            {% endif %}
        </ul>
    </nav>

</div>
{% endblock %}
